/*COMIENZO DE EDICCIONES GENERALES*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #272727;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 18vh;
    width: 95%;
    margin: 0 auto;
}


main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.tituloMain {
    gap: 5rem;
}

.sobre {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #373737;
    height: 110vh;
    width: 85%;
    margin: 0 auto;
    padding: 0 6.2rem;
}

.textoSobre {
    margin: 0 3rem;
}

.proyecto h1 {
    width: 85%;
    margin: 0 auto;
}

.proyecto h2 {
    width: 85%;
    margin: 0 auto;
}

.cartas-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.cartas-h {
    background-color: #373737;
    min-height: 80vh;
    width: 85%;
    margin: 0 auto;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.infoCartas {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 2rem;
}

.enlacesCartas {
    background-color: #373737;
    text-align: center;
}

.contacto {
    background-color: #373737;
    min-height: 40vh;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.enlacesContacto {
    background-color: #373737;
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

footer {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 0 6.2rem;
}
/*FIN DE EDICCIONES GENERALES*/

/*Edicciones de texto*/
.tituloHeader  h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

nav a {
    color: #fff;
    margin-left: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
/*seccion principal*/
.tituloMain h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
}

.tituloMain p {
    color: #fefefe;
    font-family: Merge One ;
}

.iconos img {
    height: 7vh;
    padding-right: 7px;
}

.imagenMain img {
    height: 90vh;
}
/*seccion 2*/

.imagenSobre img {
    height: 60vh;
}

.textoSobre h2 {
    color: #0772c5;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #373737;
}

.textoSobre p {
    color: #fefefe;
    font-family: Merge One ;
    font-size: 1.5rem;
    text-align: start;
    background-color: #373737;
}
/*seccion 3*/
.proyecto h1 {
    color: #0772c5;
    font-family: 'Open Sans', sans-serif;
}

.proyecto h2 {
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
}

.cartas-p img {
    width: 60%;
    height: 70vh;
    border-radius: 4%;
    margin-left: 2rem;
}

.infoCartas h2 {
    background-color: #373737;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.infoCartas p {
    background-color: #373737;
    color: #fefefe;
    font-family: Merge One ;
    font-size: 1.5rem;
}

.infoCartas button {
    background-color: #0772c5;
    height: 7vh;
    width: 30%;
    margin: 0 auto;
    border: 2px solid #0772c5;
    border-radius: 10%;
}

.infoCartas button a {
    background-color: #0772c5;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}


.enlacesCartas a {
    background-color: #373737;
    color: #fefefe;
    font-family: Merge One ;
    text-align: center;
}

/*seccion 4*/
.contacto h1 {
    background-color: #373737;
    color: #0772c5;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    margin: 0 auto;
}

.enlacesContacto img {
    background-color: #373737;
    height: 4vh;
    /*background-color: #fff;*/
}

.enlacesContacto a {
    background-color: #373737;
    color: #fff;
    font-family: Merge One ;
    padding-left: 7px;
}
/*footer*/
.tituloFooter h3{
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.iconosFooter img {
    background-color: #fff;
    height: 6vh;
}