header {
    background-color: cornflowerblue;
}

main {
    background-color: khaki;
}

.sobre {
    background-color: lightblue;
}

.portafolio {
    background-color: springgreen;
}

.portUno {
    background-color: lightpink;
}

.portDos {
    background-color: mediumaquamarine;
}

.contacto {
    background-color: sandybrown;
}