* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior:smooth;
}

body {
    background-color: #272727;
}

h1 { 
    color: #fff;
    font-size: 2.35em;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #0772c5;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h3 {
    color: #fff;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

.container-img img {
    display:none;
}

button {
   background-color: #0772c5;
   padding: 10px;
   color: #fff;
   font-family: Merge One;
   text-transform: uppercase;
   font-size: 0.90em;
}

label {
    color: #fefefe;
    font-family: Merge One;
    font-weight: bold;
}

textarea {
    background-color: #373737;
    padding: 10px 5px;
    font-family: Merge One;
    color: #fff;
    border: 1px solid #fefefe;
}

textarea:hover{
    background-color: #fefefe;
    padding: 10px 5px;
    font-family: Merge One;
    color: #0772c5;
    border: 1px solid #0772c5;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.container-header{
    max-width: 1250px;
    margin: 0 auto;
}

#header .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    gap: 0.25rem;
}

nav a {
    color: #fefefe;
    font-family: Merge One;
    font-size: 1em;
    padding: 0 5px;
}

nav a:hover {
    color: #0772c5;
}

#hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.info-hero h1 {
    padding-bottom: 15px;
}

.info-hero p {
    color: #fefefe;
    font-size: 1.25em;
    font-family: Merge One;
    padding-bottom: 15px;
}

.container-iconos i{
    padding: 15px 20px;
}

.linkedin-uno {
    font-size: 3rem;
    color: #fff;
}

.linkedin-uno:hover {
    font-size: 3rem;
    color: #0a66c2;
}

.github-uno {
    font-size: 3rem;
    color: #fff;
}

.github-uno:hover {
    font-size: 3rem;
    color: #000;
}

#sobre {
    background-color: #373737;
}

#sobre .infoSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

#sobre .infoSobre h2 {
    padding-bottom: 40px;
}

#sobre .infoSobre p {
    color: #fefefe;
    font-size: 1.25em;
    font-family: Merge One;
    text-align: center;
    padding-bottom: 12px;
}

#proyectos .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 12px;
}


.cartas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#fondo-uno {
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/785d74168973409.64449c287b2f2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:50vh;
    width:70%;
    border-radius: 2%;
}

#fondo-dos {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/75468c165715007.640c0c30220df.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:initial;
    height: 50vh;
    width: 70%;
    border-radius: 2%;
}


.cartas p {
    color: #fefefe;
    font-size: 1.25em;
    font-family: Merge One;
    padding-bottom: 15px;
}

.cartas button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 10%;
    font-size: 1.10em;
}

.cartas button:hover{
    background-color: #fefefe;
    color: #0772c5;
}

#contacto {
    background-color: #373737;
}

#contacto .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 3rem;
    margin: 0 3rem;
}

#contacto .container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-contacto {
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.enlaces-contacto a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

.enlaces-contacto a:hover{
    color: #0772c5;
}

#contacto .formulario form {
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
    background-color: #272727;
    padding: 50px ;
}

input.scx {
   background-color: #373737;
   padding: 10px 5px;
   border: 1px solid #fefefe;
   color: #fff;
   font-family: Merge One;
}

input.scx:hover{
    background-color: #fefefe;
    padding: 10px 5px;
    color: #0772c5;
    border: 1px solid #0772c5;
    font-family: Merge One;
}

.formulario button {
    text-align: center;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #fefefe;
    color: #0772c5;
    cursor: pointer;
}

#final {
    background-color: #000;
    padding: 25px 0;
}

#final .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconos-footer i {
    padding: 0 10px;
}

.linkedin-dos {
    font-size: 2rem;
    color: #fff;
}

.linkedin-dos:hover {
    font-size: 2rem;
    color: #0a66c2;
}

.github-dos:hover {
    font-size: 2rem;
    color: #272727;
}

.github-dos {
    font-size: 2rem;
    color: #fff;
}

@media (min-width:768px) and (max-width:1023px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 999;
        background-color: #272727;
    }

    #header .container-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }

    #hero .container{
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        margin: 0 2.5rem;
    }

    .info-hero h1 {
        padding-bottom: 25px;
    }

    .info-hero p {
        padding-bottom: 25px;
    }

    .container-img img {
        display: block;
        height: 70vh;
        border-radius: 2%;
        filter: blur(4px);
    }

    .container-img img:hover {
        filter: none;
    }

}
